*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fbf8f3;
}
.btn {
  background: transparent;
  border: none;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.btn_fill {
  background: #4f12d0;
  color: white;
}
.container {
  max-width: 1150px;
  margin: 0px auto;
  padding: 0px 50px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 6px !important;
}
header nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  transition: 0.5s all;
}
header nav ul li:hover a {
  color: red;
}

.button_section {
  display: flex;
  gap: 15px;
}
.hero_section {
  height: calc(100vh - 58px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.hero_content {
  width: 55%;
}
.rated_section svg {
  width: 15px;
  height: 15px;
}
.rated_section span {
  font-weight: bold;
  margin-left: 10px;
}
.rated_section {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.hero_img {
  width: 45%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.hero_img img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.hero_heading h1 {
  font-size: 50px;
  margin: 10px 0px;
}
.hero_heading p {
  font-size: 16px;
  margin-bottom: 10px;
}
.trail_section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero_heading a {
  color: #4f12d0;
  font-weight: bold;
}
.card_content {
  display: flex;
  gap: 16px;
  align-items: center;
}
.card {
  display: flex;
  gap: 10px;
  margin: 20px 0px;
}
.card div span:nth-child(1) {
  width: 24px;
  height: 24px;
  background: teal;
  border-radius: 50%;
  padding: 5px;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.box{
    width: 500px;
    height: 500px;
    background-color: #4f12d0;
    clip-path: circle(80% at 0 0);
    transition: 3s all ease-in-out;
    color: white;
}
.box:hover{
    clip-path: circle(100%);
}
.box :is(h1,h2){
    color: red;
}

.box2{
    width: 300px;
    height: 300px;
    border: 5px solid #4f12d0;
    perspective: 300px;
}
.shape{
    width: 300px;
    height: 300px;
    background-color: lightblue;
    transform:rotatex(45deg) ;
}

@media screen and (max-width: 1024px) {
  .hero_section {
    height: auto;
    padding-block: 50px;
  }
}

@media screen and (max-width: 768px) {
  .hero_heading h1 {
    font-size: 32px;
  }
  .hero_heading p {
    font-size: 15px;
  }
  .hero_section {
    flex-direction: column;
  }
  .hero_content {
    width: 80%;
    display: grid;
    place-items: center;
 }
 .hero_img {
    width: 80%;
}
.rated_section{
  place-self:baseline;
}
.hero_heading{
    text-align: center;
    display: grid;
    place-items: center;
}
}
@media screen and (max-width: 540px) {
  .hero_heading h1 {
    font-size: 31px;
  }
  .hero_content {
    width: 100%;
  }
  .hero_img {
    width: 100%;
  }
  .btn {
    padding: 15px 14px;
  }
  .box {
    width: 300px;
    height: 300px;
   
}
}
@media (max-width: 430px) {
  .rated_section span {
    font-size: 12px !important;
  }
  .hero_heading h1 {
    font-size: 23px;
  }
  .hero_heading p {
    font-size: 12px;
  }
  .btn {
    padding: 12px 12px;
}
.hero_section {
       padding-block: 12px;
}
}
